<!--License: https://creativecommons.org/licenses/by/3.0/-->

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../favicon.png">

	<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
	<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-solid.css">
	<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-regular.css">
	<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-light.css">

    <!-- Bootstrap CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link href="../css/tiny-slider.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <title>DDD. - Nghệ thuật mỹ nghệ</title>
</head>

	<body>

		<!-- Start Header/Navigation -->
		<nav id="navigation" class="custom-navbar navbar navbar-fixed navbar-expand-md navbar-dark bg-dark" aria-label="DDD Navigation Bar">

			<div class="container" id="container-nav">
				<a class="navbar-brand" href="index.html">DDD<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item active">
							<a class="nav-link" href="index.html">Trang chủ</a>
						</li>
						<li><a class="nav-link" href="shop.html">Sản phẩm</a></li>
						<li><a class="nav-link" href="blog.html">Tin tức</a></li>
						<li><a class="nav-link" href="contact.html">Liên hệ</a></li>
						<li><a class="nav-link" href="about.html">Về chúng tôi</a></li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li class="hv-li"><a class="nav-link yellow" href="#"><i class="fa-regular fa-user"></i></a>
							<ul class="ul-drop-menu">
								<li class="drop-menu hello-user">Xin chào, User!</li>
								<li class="drop-menu hv-gray"><a href="update_user_info.html" class="">Thông tin tài khoản</a></li>
								<li class="drop-menu hv-gray"><a href="#">Đăng xuất</a></li>
							</ul>
						</li>
						<li class="hv-li"><a class="nav-link yellow" href="cart.html"><i class="fa-light fa-cart-shopping"></i></a></li>
					</ul>
				</div>
			</div>

		</nav>
		<!-- End Header/Navigation -->

        <!-- Start Hero Section -->
        <div class="hero home position-relative-top-84px">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-12">
                        <div class="intro-excerpt">
                            <h1>Nghệ thuật <span class="d-block">từ mỹ nghệ</span></h1>
                            <p class="mb-4 darkred_alpha">Mỗi một sản phẩm mỹ nghệ là một kiệt tác. Thưởng thức tinh túy của nghệ thuật thông qua các sản phẩm mỹ nghệ tuyệt vời của chúng tôi.</p>
                            <p><a href="" class="btn-main btn-secondary me-2">Khám phá ngay</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Hero Section -->

		<!-- Start Product Section -->
		<div class="product-section position-relative-top-84px">
			<div class="container">
				<div class="row">

					<!-- Start Column 1 -->
					<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
						<h2 class="mb-4 section-title">Sản phẩm mỹ nghệ với chất lượng tuyệt vời.</h2>
						<p class="mb-4 darkred_alpha">Khám phá, lựa chọn và trải nghiệm sản phẩm mỹ nghệ với chất lượng hàng đầu. Thưởng thức theo cách của bạn</p>
						<p><a href="shop.html" class="btn-main">Khám phá ngay</a></p>
					</div>
					<!-- End Column 1 -->

					<!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item center-text" href="wood.html">
							<img src="../images/wooden/binh_go_cam_2_1.jpg" class="img-fluid product-thumbnail fix-size-thumbnail">
							<h3 class="center-text">Các sản phẩm làm từ</h3>
							<strong class="center-text big-category">GỖ</strong>

							<span class="btn-pop">
								<p class="content-btn-pop">Tìm hiểu ngay!</p>
							</span>
						</a>
					</div>
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item center-text" href="knitting.html">
							<img src="../images/knitting/tui_sen.jpg" class="img-fluid product-thumbnail fix-size-thumbnail">
							<h3 class="center-text">Các sản phẩm làm từ</h3>
							<strong class="center-text big-category">ĐAN LÁT</strong>

							<span class="btn-pop">
								<p class="content-btn-pop">Tìm hiểu ngay!</p>
							</span>
						</a>
					</div>
					<!-- End Column 3 -->

					<!-- Start Column 4 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item center-text" href="porcelain.html">
							<img src="../images/porcelain/bo_am_tra_sp1.jpg" class="img-fluid product-thumbnail fix-size-thumbnail">
							<h3 class="center-text">Các sản phẩm làm từ</h3>
							<strong class="center-text big-category">GỐM SỨ</strong>

							<span class="btn-pop">
								<p class="content-btn-pop">Tìm hiểu ngay!</p>
							</span>
						</a>
					</div>
					<!-- End Column 4 -->
				</div>
			</div>
		</div>
		<!-- End Product Section -->

		<!-- Start Why Choose Us Section -->
		<div class="why-choose-section position-relative-top-84px">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-6">
						<h2 class="section-title">Vì sao chọn chúng tôi</h2>
						<p class="light-text">Mang trong mình suy nghĩ "mỗi một sản phẩm là một tác phẩm nghệ thuật", chúng tôi luôn đảm bảo được sự nâng niu, chỉn chu trong từng sản phẩm cũng như sự tiện lợi, dễ dàng trong quá trình mua hàng của bạn. </p>

						<div class="row my-5">
							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<i class="fa-thin fa-truck-fast fa-2xl" style="color: #e3bd74;"></i>
									</div>
									<h3 class="yellow-text">Giao hàng nhanh chóng</h3>
									<p class="light-text">Đảm bảo giao hàng tận tay bạn một cách nhanh chóng. Miễn phí giao hàng cho các đơn hàng giá trị cao.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<i class="fa-thin fa-bag-shopping fa-2xl" style="color: #e3bd74;"></i>
									</div>
									<h3 class="yellow-text">Dễ dàng mua sắm</h3>
									<p class="light-text">Dễ dàng chọn lựa thông qua trang web cũng như tại cửa hàng trực tiếp. Sản phẩm được cập nhật thường xuyên.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<i class="fa-thin fa-question fa-2xl" style="color: #e3bd74;"></i>
									</div>
									<h3 class="yellow-text">Hỗ trợ 24/7</h3>
									<p class="light-text">Chúng tôi luôn sẵn sàng tư vấn và giải đáp cho bạn về việc mua hàng trực tuyến và các sản phẩm mỹ nghệ.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<i class="fa-thin fa-arrows-repeat fa-2xl" style="color: #e3bd74;"></i>
									</div>
									<h3 class="yellow-text">Đổi trả miễn phí</h3>
									<p class="light-text">Đối với các đơn hàng bị lỗi do nhà sản xuất, chúng tôi sẵn sàng đổi trả sản phẩm mới cho bạn.</p>
								</div>
							</div>

						</div>
					</div>

					<div class="col-lg-5">
						<div class="img-wrap">
							<img src="../images/client_home/crafting.png" alt="Image" class="img-fluid">
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Why Choose Us Section -->

		<!-- Start We Help Section -->
		<div class="we-help-section position-relative-top-84px">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-7 mb-5 mb-lg-0">
						<div class="imgs-grid">
							<div class="grid grid-1"><img src="../images/client_home/checking_wooden.jpg" alt="DDD."></div>
							<div class="grid grid-2"><img src="../images/client_home/checking_porcelain.jpg" alt="DDD."></div>
							<div class="grid grid-3"><img src="../images/client_home/checking_knit.jpg" alt="DDD."></div>
						</div>
					</div>
					<div class="col-lg-5 ps-lg-5">
						<h2 class="section-title mb-4">Dễ dàng mua sắm. <span class="d-block">Hỗ trợ tận tâm.</span> Nghệ thuật trong tay bạn.</h2>
						<p class="darkred-text">Dễ dàng mua sắm thông qua website của chúng tôi.
												Truy cập vào danh mục hàng mà bạn quan tâm, thêm vào giỏ hàng những sản phẩm mà bạn muốn mua, vào giỏ hàng và thanh toán.
												Dễ dàng sở hữu sản phẩm mỹ nghệ mà bạn yêu thích.</p>

						<ul class="list-unstyled custom-list my-4">
							<li class="darkred-text">Truy cập vào mục sản phẩm</li>
							<li class="darkred-text">Chọn loại hàng bạn quan tâm</li>
							<li class="darkred-text">Thêm sản phẩm vào giỏ hàng</li>
							<li class="darkred-text">Vào giỏ hàng và thanh toán</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End We Help Section -->

		<!-- Start Blog Section -->
		<div class="blog-section position-relative-top-84px">
			<div class="container">
				<div class="row mb-5">
					<div class="col-md-6">
						<h2 class="section-title">Tin tức</h2>
					</div>
					<div class="col-md-6 text-start text-md-end">
						<a href="#" class="more">Xem tất cả bài viết</a>
					</div>
				</div>

				<div class="row">

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="../images/blog/post-1.jpg" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">First Time Home Owner Ideas</a></h3>
								<div class="meta">
									<span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 19, 2021</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="../images/blog/post-2.jpg" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">How To Keep Your Furniture Clean</a></h3>
								<div class="meta">
									<span>by <a href="#">Robert Fox</a></span> <span>on <a href="#">Dec 15, 2021</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="../images/blog/post-3.jpg" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">Small Space Furniture Apartment Ideas</a></h3>
								<div class="meta">
									<span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 12, 2021</a></span>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Blog Section -->

		<!-- Start Footer Section -->
		<footer class="footer-section position-relative-top-84px">
			<div class="container relative">
				<div class="row g-5 mb-5">
					<div class="col-4">
						<div class="mb-4"><p href="#" class="footer-head">DDD<span>.</span></p></div>
						<p class="mb-4 light-text footer-content">Với chúng tôi, mỗi một sản phẩm mỹ nghệ đều là một kiệt tác, là một tác phẩm nghệ thuật. Cảm ơn bạn đã ghé thăm DDD. - Nghệ thuật mỹ nghệ. Mua sắm với chúng tôi trong mục sản phẩm, hoặc bấm vào nút Khám phá trên trang chủ.</p>
					</div>

					<div class="col-4 center-text">
						<div class="mb-4"><p id="mxh-changing" class="footer-head">Mạng xã hội</p></div>
						<p class="mb-4 light-text footer-content">Đừng quên theo dõi chúng tôi qua các kênh mạng xã hội sau để không bỏ lỡ nhưng thông tin mới nhất của DDD. - Nghệ thuật mỹ nghệ</p>
						<ul class="list-unstyled custom-social">
							<li><a href="#"><span class="fa fa-brands fa-facebook-f footer-content"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-twitter footer-content"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-instagram footer-content"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-linkedin footer-content"></span></a></li>
						</ul>
					</div>

					<div class="col-4">
						<div class="row links-wrap">
							<div class="right-text">
								<div class="mb-4"><p class="footer-head">Nội dung</p></div>
								<ul class="list-unstyled ">
									<li><a class="light-text footer-content" href="#">Sản phẩm</a></li>
									<li><a class="light-text footer-content" href="#">Tin tức</a></li>
									<li><a class="light-text footer-content" href="#">Liên hệ</a></li>
									<li><a class="light-text footer-content" href="#">Về chúng tôi</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start light-text footer-content">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved.</p>
							<!-- License information: https://untree.co/license/ -->
						</div>

						<div class="col-lg-6 text-center text-lg-end light-text">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4 footer-content"><a  href="#">Terms &amp; Conditions</a></li>
								<li><a href="#" class="footer-content">Privacy Policy</a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</footer>
		<!-- End Footer Section -->

		<button id="scroll-to-top"><i class="fa-solid fa-chevron-up" style="color: #e3bd74;"></i></button>

		<script src="../js/bootstrap.bundle.min.js"></script>
		<script src="../js/tiny-slider.js"></script>
		<script src="../js/custom.js"></script>
	</body>
</html>
