<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../favicon.png">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-light.css">

    <!-- Bootstrap CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link href="../css/tiny-slider.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <title>DDD. - Nghệ thuật mỹ nghệ</title>
</head>
<body>
<!-- Start Header/Navigation -->
<nav id="navigation" class="custom-navbar navbar navbar-fixed navbar-expand-md navbar-dark bg-dark"
     aria-label="DDD Navigation Bar">

    <div class="container" id="container-nav">
        <a class="navbar-brand" href="index.html">DDD<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
                aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li>
                    <a class="nav-link" href="index.html">Trang chủ</a>
                </li>
                <li class="nav-item active"><a class="nav-link" href="shop.html">Sản phẩm</a></li>
                <li><a class="nav-link" href="blog.html">Tin tức</a></li>
                <li><a class="nav-link" href="contact.html">Liên hệ</a></li>
                <li><a class="nav-link" href="about.html">Về chúng tôi</a></li>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li class="hv-li"><a class="nav-link yellow" href="#"><i class="fa-regular fa-user"></i></a>
                    <ul class="ul-drop-menu">
                        <li class="drop-menu hello-user">Xin chào, User!</li>
                        <li class="drop-menu hv-gray"><a href="update_user_info.html" class="">Thông tin tài khoản</a></li>
                        <li class="drop-menu hv-gray"><a href="order-history.html" class="">Lịch sử đơn hàng</a></li>
                        <li class="drop-menu hv-gray"><a href="#">Đăng xuất</a></li>
                    </ul>
                </li>
                <li class="hv-li"><a class="nav-link yellow" href="cart.html"><i class="fa-light fa-cart-shopping"></i></a>
                </li>
            </ul>
        </div>
    </div>

</nav>
<!-- End Header/Navigation -->

<!-- Start Hero Section -->
<div class="hero shop position-relative-top-84px">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12">
                <div class="intro-excerpt">
                    <h1>Sản phẩm</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- Start Wood Section -->
<div class="product-section product-section before-footer-section position-relative-top-84px">
    <div class="container">
        <div class="row">
            <div class="col-3 pe-3 nav-left">
                <div class="nav-left-block mb-5">
                    <p class="nav-left-title">Danh mục sản phẩm</p>
                    <ul class="nav-left-list">
                        <li class="nav-left-item li-active"><a href="wood.html" class="nav-left-link nav-left-active">Sản phẩm gỗ</a>
                            <ul class="pop-right">
                                <li class="pop-right-item"><a href="wood.html#luc-binh-go" class="pop-right-link">Lục bình gỗ</a></li>
                                <li class="pop-right-item"><a href="wood.html#dia-trang-tri-go" class="pop-right-link">Đĩa trang trí gỗ</a></li>
                                <li class="pop-right-item"><a href="wood.html#tuong-go" class="pop-right-link">Tượng gỗ</a></li>
                                <li class="pop-right-item"><a href="wood.html#dong-ho-go" class="pop-right-link">Đồng hồ gỗ</a></li>
                            </ul>
                        </li>
                        <li class="nav-left-item"><a href="knitting.html" class="nav-left-link">Sản phẩm đan lát</a>
                            <ul class="pop-right">
                                <li class="pop-right-item"><a href="knitting.html#tui-xach" class="pop-right-link">Túi xách</a></li>
                                <li class="pop-right-item"><a href="knitting.html#vi-cam-tay" class="pop-right-link">Ví cầm tay</a></li>
                                <li class="pop-right-item"><a href="knitting.html#hop-dung" class="pop-right-link">Hộp đựng</a></li>
                                <li class="pop-right-item"><a href="knitting.html#non" class="pop-right-link">Nón</a></li>
                                <li class="pop-right-item"><a href="knitting.html#nha-thu-cung" class="pop-right-link">Nhà thú cưng</a></li>
                                <li class="pop-right-item"><a href="knitting.html#thung-rac" class="pop-right-link">Thùng rác</a></li>
                                <li class="pop-right-item"><a href="knitting.html#khac" class="pop-right-link">Khác</a></li>
                            </ul>
                        </li>
                        <li class="nav-left-item"><a href="porcelain.html" class="nav-left-link">Sản phẩm gốm sứ</a>
                            <ul class="pop-right">
                                <li class="pop-right-item"><a href="porcelain.html#bo-am-tra" class="pop-right-link">Bộ ấm trà</a></li>
                                <li class="pop-right-item"><a href="porcelain.html#lo" class="pop-right-link">Lọ</a></li>
                                <li class="pop-right-item"><a href="porcelain.html#binh-phong-thuy" class="pop-right-link">Bình phong thủy</a></li>
                                <li class="pop-right-item"><a href="porcelain.html#tranh" class="pop-right-link">Tranh</a></li>
                                <li class="pop-right-item"><a href="porcelain.html#thac-nuoc-va-tuong" class="pop-right-link">Thác nước & Tượng</a></li>
                                <li class="pop-right-item"><a href="porcelain.html#ly-coc-phin" class="pop-right-link">Ly, cốc, phin cafe</a></li>
                                <li class="pop-right-item"><a href="porcelain.html#khay-mut" class="pop-right-link">Khay mứt</a></li>
                                <li class="pop-right-item"><a href="porcelain.html#bo-bat-dia" class="pop-right-link">Bộ bát đĩa</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-9">
                <div class="row">
                    <div class="col-12" id="luc-binh-go">
                        <h1 class="product-type-title">LỤC BÌNH GỖ</h1>
                        <hr size="4">
                    </div>
                </div>
                <div class="row">
                    <!-- Start Column 1 -->
                    <div class="col-12 col-md-6 col-lg-3 mb-5">
                        <div class="product-item">
                            <img src="../images/wooden/binh_go_cam_2_1.jpg" class="img-fluid product-thumbnail">
                            <h3 class="product-title">Bình phú quý gỗ cẩm</h3>
                            <strong class="product-price">2.250.000₫</strong>
                            <div class="origin-price-and-discount">
                                <del>2.500.000₫</del>
                                <label>-10%</label>
                            </div>
                            <a href="cart.html" class="btn-pop-mini left">
                                <i class="fa-solid fa-cart-plus fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Thêm vào giỏ hàng</p>
                            </a>
                            <a href="product-detail-go1.html" class="btn-pop-mini right">
                                <i class="fa-solid fa-info fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Chi tiết sản phẩm</p>
                            </a>
                        </div>
                    </div>
                    <!-- End Column 1 -->

                    <!-- Start Column 2 -->
                    <div class="col-12 col-md-6 col-lg-3 mb-5">
                        <div class="product-item">
                            <img src="../images/wooden/binh_go_cam_2_1.jpg" class="img-fluid product-thumbnail">
                            <h3 class="product-title">Bình phú quý gỗ cẩm</h3>
                            <strong class="product-price">2.250.000₫</strong>
                            <div class="origin-price-and-discount">
                                <del>2.500.000₫</del>
                                <label>-10%</label>
                            </div>
                            <a href="cart.html" class="btn-pop-mini left">
                                <i class="fa-solid fa-cart-plus fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Thêm vào giỏ hàng</p>
                            </a>
                            <a href="product-detail-go1.html" class="btn-pop-mini right">
                                <i class="fa-solid fa-info fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Chi tiết sản phẩm</p>
                            </a>
                        </div>
                    </div>
                    <!-- End Column 2 -->

                    <!-- Start Column 3 -->
                    <div class="col-12 col-md-6 col-lg-3 mb-5">
                        <div class="product-item">
                            <img src="../images/wooden/binh_go_cam_2_1.jpg" class="img-fluid product-thumbnail">
                            <h3 class="product-title">Bình phú quý gỗ cẩm</h3>
                            <strong class="product-price">2.250.000₫</strong>
                            <div class="origin-price-and-discount">
                                <del>2.500.000₫</del>
                                <label>-10%</label>
                            </div>
                            <a href="cart.html" class="btn-pop-mini left">
                                <i class="fa-solid fa-cart-plus fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Thêm vào giỏ hàng</p>
                            </a>
                            <a href="product-detail-go1.html" class="btn-pop-mini right">
                                <i class="fa-solid fa-info fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Chi tiết sản phẩm</p>
                            </a>
                        </div>
                    </div>
                    <!-- End Column 3 -->

                    <!-- Start Column 4 -->
                    <div class="col-12 col-md-6 col-lg-3 mb-5">
                        <div class="product-item">
                            <img src="../images/wooden/binh_go_cam_2_1.jpg" class="img-fluid product-thumbnail">
                            <h3 class="product-title">Bình phú quý gỗ cẩm</h3>
                            <strong class="product-price">2.250.000₫</strong>
                            <div class="origin-price-and-discount">
                                <del>2.500.000₫</del>
                                <label>-10%</label>
                            </div>
                            <a href="cart.html" class="btn-pop-mini left">
                                <i class="fa-solid fa-cart-plus fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Thêm vào giỏ hàng</p>
                            </a>
                            <a href="product-detail-go1.html" class="btn-pop-mini right">
                                <i class="fa-solid fa-info fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Chi tiết sản phẩm</p>
                            </a>
                        </div>
                    </div>
                    <!-- End Column 4 -->
                </div>

                <div class="row">
                    <div class="col-12" id="dia-trang-tri-go">
                        <h1 class="product-type-title">ĐĨA TRANG TRÍ GỖ</h1>
                        <hr size="4">
                    </div>
                </div>
                <div class="row">
                    <!-- Start Column 1 -->
                    <div class="col-12 col-md-6 col-lg-3 mb-5">
                        <div class="product-item">
                            <img src="../images/wooden/dia_go_tu_linh_11.1.jpg" class="img-fluid product-thumbnail">
                            <h3 class="product-title">Đĩa gỗ tứ linh hội tụ </h3>
                            <strong class="product-price">3.700.000₫</strong>
                            <div class="origin-price-and-discount">
                                <del>4.000.000₫</del>
                                <label>-10%</label>
                            </div>
                            <a href="cart.html" class="btn-pop-mini left">
                                <i class="fa-solid fa-cart-plus fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Thêm vào giỏ hàng</p>
                            </a>
                            <a href="product-detail-go2.html" class="btn-pop-mini right">
                                <i class="fa-solid fa-info fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Chi tiết sản phẩm</p>
                            </a>
                        </div>
                    </div>
                    <!-- End Column 1 -->

                    <!-- Start Column 2 -->
                    <div class="col-12 col-md-6 col-lg-3 mb-5">
                        <div class="product-item">
                            <img src="../images/wooden/dia_go_tu_linh_11.1.jpg" class="img-fluid product-thumbnail">
                            <h3 class="product-title">Đĩa gỗ tứ linh hội tụ </h3>
                            <strong class="product-price">3.700.000₫</strong>
                            <div class="origin-price-and-discount">
                                <del>4.000.000₫</del>
                                <label>-10%</label>
                            </div>
                            <a href="#" class="btn-pop-mini left">
                                <i class="fa-solid fa-cart-plus fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Thêm vào giỏ hàng</p>
                            </a>
                            <a href="product-detail-go2.html" class="btn-pop-mini right">
                                <i class="fa-solid fa-info fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Chi tiết sản phẩm</p>
                            </a>
                        </div>
                    </div>
                    <!-- End Column 2 -->

                    <!-- Start Column 3 -->
                    <div class="col-12 col-md-6 col-lg-3 mb-5">
                        <div class="product-item">
                            <img src="../images/wooden/dia_go_tu_linh_11.1.jpg" class="img-fluid product-thumbnail">
                            <h3 class="product-title">Đĩa gỗ tứ linh hội tụ </h3>
                            <strong class="product-price">3.700.000₫</strong>
                            <div class="origin-price-and-discount">
                                <del>4.000.000₫</del>
                                <label>-10%</label>
                            </div>
                            <a href="#" class="btn-pop-mini left">
                                <i class="fa-solid fa-cart-plus fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Thêm vào giỏ hàng</p>
                            </a>
                            <a href="product-detail-go2.html" class="btn-pop-mini right">
                                <i class="fa-solid fa-info fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Chi tiết sản phẩm</p>
                            </a>
                        </div>
                    </div>
                    <!-- End Column 3 -->

                    <!-- Start Column 4 -->
                    <div class="col-12 col-md-6 col-lg-3 mb-5">
                        <div class="product-item">
                            <img src="../images/wooden/dia_go_tu_linh_11.1.jpg" class="img-fluid product-thumbnail">
                            <h3 class="product-title">Đĩa gỗ tứ linh hội tụ </h3>
                            <strong class="product-price">3.700.000₫</strong>
                            <div class="origin-price-and-discount">
                                <del>4.000.000₫</del>
                                <label>-10%</label>
                            </div>
                            <a href="#" class="btn-pop-mini left">
                                <i class="fa-solid fa-cart-plus fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Thêm vào giỏ hàng</p>
                            </a>
                            <a href="product-detail-go2.html" class="btn-pop-mini right">
                                <i class="fa-solid fa-info fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Chi tiết sản phẩm</p>
                            </a>
                        </div>
                    </div>
                    <!-- End Column 4 -->
                </div>


                <div class="row">
                    <div class="col-12" id="tuong-go">
                        <h1 class="product-type-title">TƯỢNG GỖ</h1>
                        <hr size="4">
                    </div>
                </div>
                <div class="row">
                    <!-- Start Column 1 -->
                    <div class="col-12 col-md-6 col-lg-3 mb-5">
                        <div class="product-item">
                            <img src="../images/wooden/binh_go_cam_2_1.jpg" class="img-fluid product-thumbnail">
                            <h3 class="product-title">Tượng tam đa – Phúc Lộc Thọ - Bách xanh </h3>
                            <strong class="product-price">1.950.000₫</strong>
                            <div class="origin-price-and-discount">
                                <del>2.350.000₫</del>
                                <label>-17%</label>
                            </div>
                            <a href="cart.html" class="btn-pop-mini left">
                                <i class="fa-solid fa-cart-plus fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Thêm vào giỏ hàng</p>
                            </a>
                            <a href="product-detail-go1.html" class="btn-pop-mini right">
                                <i class="fa-solid fa-info fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Chi tiết sản phẩm</p>
                            </a>
                        </div>
                    </div>
                    <!-- End Column 1 -->

                    <!-- Start Column 2 -->
                    <div class="col-12 col-md-6 col-lg-3 mb-5">
                        <div class="product-item">
                            <img src="../images/wooden/binh_go_cam_2_1.jpg" class="img-fluid product-thumbnail">
                            <h3 class="product-title">Tượng tam đa – Phúc Lộc Thọ - Bách xanh </h3>
                            <strong class="product-price">1.950.000₫</strong>
                            <div class="origin-price-and-discount">
                                <del>2.350.000₫</del>
                                <label>-17%</label>
                            </div>
                            <a href="cart.html" class="btn-pop-mini left">
                                <i class="fa-solid fa-cart-plus fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Thêm vào giỏ hàng</p>
                            </a>
                            <a href="product-detail-go1.html" class="btn-pop-mini right">
                                <i class="fa-solid fa-info fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Chi tiết sản phẩm</p>
                            </a>
                        </div>
                    </div>
                    <!-- End Column 2 -->

                    <!-- Start Column 3 -->
                    <div class="col-12 col-md-6 col-lg-3 mb-5">
                        <div class="product-item">
                            <img src="../images/wooden/binh_go_cam_2_1.jpg" class="img-fluid product-thumbnail">
                            <h3 class="product-title">Tượng tam đa – Phúc Lộc Thọ - Bách xanh </h3>
                            <strong class="product-price">1.950.000₫</strong>
                            <div class="origin-price-and-discount">
                                <del>2.350.000₫</del>
                                <label>-17%</label>
                            </div>
                            <a href="cart.html" class="btn-pop-mini left">
                                <i class="fa-solid fa-cart-plus fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Thêm vào giỏ hàng</p>
                            </a>
                            <a href="product-detail-go1.html" class="btn-pop-mini right">
                                <i class="fa-solid fa-info fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Chi tiết sản phẩm</p>
                            </a>
                        </div>
                    </div>
                    <!-- End Column 3 -->

                    <!-- Start Column 4 -->
                    <div class="col-12 col-md-6 col-lg-3 mb-5">
                        <div class="product-item">
                            <img src="../images/wooden/binh_go_cam_2_1.jpg" class="img-fluid product-thumbnail">
                            <h3 class="product-title">Tượng tam đa – Phúc Lộc Thọ - Bách xanh </h3>
                            <strong class="product-price">1.950.000₫</strong>
                            <div class="origin-price-and-discount">
                                <del>2.350.000₫</del>
                                <label>-17%</label>
                            </div>
                            <a href="cart.html" class="btn-pop-mini left">
                                <i class="fa-solid fa-cart-plus fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Thêm vào giỏ hàng</p>
                            </a>
                            <a href="product-detail-go1.html" class="btn-pop-mini right">
                                <i class="fa-solid fa-info fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Chi tiết sản phẩm</p>
                            </a>
                        </div>
                    </div>
                    <!-- End Column 4 -->
                </div>

                <div class="row">
                    <div class="col-12" id="dong-ho-go">
                        <h1 class="product-type-title">ĐỒNG HỒ GỖ</h1>
                        <hr size="4">
                    </div>
                </div>
                <div class="row">
                    <!-- Start Column 1 -->
                    <div class="col-12 col-md-6 col-lg-3 mb-5">
                        <div class="product-item">
                            <img src="../images/wooden/dia_go_tu_linh_11.1.jpg" class="img-fluid product-thumbnail">
                            <h3 class="product-title">Đĩa gỗ tứ linh hội tụ </h3>
                            <strong class="product-price">3.700.000₫</strong>
                            <div class="origin-price-and-discount">
                                <del>4.000.000₫</del>
                                <label>-10%</label>
                            </div>
                            <a href="cart.html" class="btn-pop-mini left">
                                <i class="fa-solid fa-cart-plus fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Thêm vào giỏ hàng</p>
                            </a>
                            <a href="product-detail-go2.html" class="btn-pop-mini right">
                                <i class="fa-solid fa-info fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Chi tiết sản phẩm</p>
                            </a>
                        </div>
                    </div>
                    <!-- End Column 1 -->

                    <!-- Start Column 2 -->
                    <div class="col-12 col-md-6 col-lg-3 mb-5">
                        <div class="product-item">
                            <img src="../images/wooden/dia_go_tu_linh_11.1.jpg" class="img-fluid product-thumbnail">
                            <h3 class="product-title">Đĩa gỗ tứ linh hội tụ </h3>
                            <strong class="product-price">3.700.000₫</strong>
                            <div class="origin-price-and-discount">
                                <del>4.000.000₫</del>
                                <label>-10%</label>
                            </div>
                            <a href="cart.html" class="btn-pop-mini left">
                                <i class="fa-solid fa-cart-plus fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Thêm vào giỏ hàng</p>
                            </a>
                            <a href="product-detail-go2.html" class="btn-pop-mini right">
                                <i class="fa-solid fa-info fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Chi tiết sản phẩm</p>
                            </a>
                        </div>
                    </div>
                    <!-- End Column 2 -->

                    <!-- Start Column 3 -->
                    <div class="col-12 col-md-6 col-lg-3 mb-5">
                        <div class="product-item">
                            <img src="../images/wooden/dia_go_tu_linh_11.1.jpg" class="img-fluid product-thumbnail">
                            <h3 class="product-title">Đĩa gỗ tứ linh hội tụ </h3>
                            <strong class="product-price">3.700.000₫</strong>
                            <div class="origin-price-and-discount">
                                <del>4.000.000₫</del>
                                <label>-10%</label>
                            </div>
                            <a href="cart.html" class="btn-pop-mini left">
                                <i class="fa-solid fa-cart-plus fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Thêm vào giỏ hàng</p>
                            </a>
                            <a href="product-detail-go2.html" class="btn-pop-mini right">
                                <i class="fa-solid fa-info fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Chi tiết sản phẩm</p>
                            </a>
                        </div>
                    </div>
                    <!-- End Column 3 -->

                    <!-- Start Column 4 -->
                    <div class="col-12 col-md-6 col-lg-3 mb-5">
                        <div class="product-item">
                            <img src="../images/wooden/dia_go_tu_linh_11.1.jpg" class="img-fluid product-thumbnail">
                            <h3 class="product-title">Đĩa gỗ tứ linh hội tụ </h3>
                            <strong class="product-price">3.700.000₫</strong>
                            <div class="origin-price-and-discount">
                                <del>4.000.000₫</del>
                                <label>-10%</label>
                            </div>
                            <a href="cart.html" class="btn-pop-mini left">
                                <i class="fa-solid fa-cart-plus fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Thêm vào giỏ hàng</p>
                            </a>
                            <a href="product-detail-go2.html" class="btn-pop-mini right">
                                <i class="fa-solid fa-info fa-xl" style="color: #2a1710"></i><p class="content-btn-mini">Chi tiết sản phẩm</p>
                            </a>
                        </div>
                    </div>
                    <!-- End Column 4 -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Wood Section -->

<!-- Start Footer Section -->
<footer class="footer-section position-relative-top-84px">
    <div class="container relative">
        <div class="row g-5 mb-5">
            <div class="col-4">
                <div class="mb-4"><p href="#" class="footer-head">DDD<span>.</span></p></div>
                <p class="mb-4 light-text footer-content">Với chúng tôi, mỗi một sản phẩm mỹ nghệ đều là một kiệt tác,
                    là một tác phẩm nghệ thuật. Cảm ơn bạn đã ghé thăm DDD. - Nghệ thuật mỹ nghệ. Mua sắm với chúng tôi
                    trong mục sản phẩm, hoặc bấm vào nút Khám phá trên trang chủ.</p>
            </div>

            <div class="col-4 center-text">
                <div class="mb-4"><p id="mxh-changing" class="footer-head">Mạng xã hội</p></div>
                <p class="mb-4 light-text footer-content">Đừng quên theo dõi chúng tôi qua các kênh mạng xã hội sau để
                    không bỏ lỡ nhưng thông tin mới nhất của DDD. - Nghệ thuật mỹ nghệ</p>
                <ul class="list-unstyled custom-social">
                    <li><a href="#"><span class="fa fa-brands fa-facebook-f footer-content"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-twitter footer-content"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-instagram footer-content"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-linkedin footer-content"></span></a></li>
                </ul>
            </div>

            <div class="col-4">
                <div class="row links-wrap">
                    <div class="right-text">
                        <div class="mb-4"><p class="footer-head">Nội dung</p></div>
                        <ul class="list-unstyled ">
                            <li><a class="light-text footer-content" href="#">Sản phẩm</a></li>
                            <li><a class="light-text footer-content" href="#">Tin tức</a></li>
                            <li><a class="light-text footer-content" href="#">Liên hệ</a></li>
                            <li><a class="light-text footer-content" href="#">Về chúng tôi</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-top copyright">
            <div class="row pt-4">
                <div class="col-lg-6">
                    <p class="mb-2 text-center text-lg-start light-text footer-content">Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        . All Rights Reserved.
                    </p>
                    <!-- License information: https://untree.co/license/ -->
                </div>

                <div class="col-lg-6 text-center text-lg-end light-text">
                    <ul class="list-unstyled d-inline-flex ms-auto">
                        <li class="me-4 footer-content"><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#" class="footer-content">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Section -->

<button id="scroll-to-top"><i class="fa-solid fa-chevron-up" style="color: #e3bd74;"></i></button>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
<script src="../js/custom.js"></script>
<script type="text/javascript">

</script>
</body>
</html>