<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="favicon.png">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-light.css">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link href="css/tiny-slider.css" rel="stylesheet">
    <link href="css/reset-password.css" rel="stylesheet">
    <title>DDD. - Đặt lại mật khẩu</title>
</head>
<body>
<!-- Start Header/Navigation -->
<nav id="navigation" class="custom-navbar navbar navbar-fixed navbar-expand-md navbar-dark bg-dark" aria-label="DDD Navigation Bar">

    <div class="container" id="container-nav">
        <a class="navbar-brand" href="index.html">DDD<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Trang chủ</a>
                </li>
                <li><a class="nav-link" href="shop.html">Sản phẩm</a></li>
                <li><a class="nav-link" href="blog.html">Tin tức</a></li>
                <li><a class="nav-link" href="contact.html">Liên hệ</a></li>
                <li><a class="nav-link" href="about.html">Về chúng tôi</a></li>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li class="hv-li"><a class="nav-link yellow" href="#"><i class="fa-regular fa-user"></i></a>
                    <ul class="ul-drop-menu">
                        <li class="drop-menu hello-user">Xin chào, User!</li>
                        <li class="drop-menu hv-gray"><a href="#"></a>Thông tin tài khoản</li>
                        <li class="drop-menu hv-gray"><a href="#"></a>Đăng xuất</li>
                    </ul>
                </li>
                <li class="hv-li"><a class="nav-link yellow" href="cart.html"><i class="fa-light fa-cart-shopping"></i></a></li>
            </ul>
        </div>
    </div>

</nav>
<!-- End Header/Navigation -->
<div class="screen-1">
    <div class="logo">
        <h1>DDD.</h1>
    </div>
    <div class="header">
        <h2>Đặt lại mật khẩu</h2>
    </div>
    <div class="password1">
        <label for="password">Mật khẩu cũ</label>
        <div class="sec-2">
            <ion-icon name="lock-closed-outline" role="img" class="md hydrated" aria-label="lock closed outline"></ion-icon>
            <input class="pas" type="password" name="password" id="passwordInput1" placeholder="············">
            <!--            <ion-icon class="show-hide md hydrated" name="eye-outline" role="img" aria-label="eye outline"></ion-icon>-->
            <div id="passwordError1" class="error-message"></div>
        </div>
    </div>

    <div class="password2">
        <label for="password">Mật khẩu mới</label>
        <div class="sec-2">
            <ion-icon name="lock-closed-outline" role="img" class="md hydrated" aria-label="lock closed outline"></ion-icon>
            <input class="pas" type="password" name="password" id="passwordInput2" placeholder="············">
            <!--            <ion-icon class="show-hide md hydrated" name="eye-outline" role="img" aria-label="eye outline"></ion-icon>-->
            <div id="passwordError2" class="error-message"></div>
        </div>
    </div>
    <div class="password3">
        <label for="password">Nhập lại mật khẩu mới</label>
        <div class="sec-2">
            <ion-icon name="lock-closed-outline" role="img" class="md hydrated" aria-label="lock closed outline"></ion-icon>
            <input class="pas" type="password" name="password" id="passwordInput3" placeholder="············">
            <!--            <ion-icon class="show-hide md hydrated" name="eye-outline" role="img" aria-label="eye outline"></ion-icon>-->
            <div id="passwordError3" class="error-message"></div>
        </div>
    </div>
    <button class="login">Cập nhật mật khẩu</button>
    <!-- Thêm sau nút cập nhật mật khẩu -->
    <a href="index.html" class="back-to-home">Quay lại trang chủ</a>

</div>
<script src="js/reset-password.js"></script>
</body>
</html>