<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="favicon.png">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-light.css">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link href="css/tiny-slider.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <title>DDD. - Nghệ thuật mỹ nghệ</title>
</head>

<body>

<!-- Start Header/Navigation -->
<nav id="navigation" class="custom-navbar navbar navbar-fixed navbar-expand-md navbar-dark bg-dark" aria-label="DDD Navigation Bar">

    <div class="container" id="container-nav">
        <a class="navbar-brand" href="index.html">DDD<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Trang chủ</a>
                </li>
                <li><a class="nav-link" href="shop.html">Sản phẩm</a></li>
                <li><a class="nav-link" href="blog.html">Tin tức</a></li>
                <li><a class="nav-link" href="contact.html">Liên hệ</a></li>
                <li><a class="nav-link" href="about.html">Về chúng tôi</a></li>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li class="hv-li"><a class="nav-link yellow" href="#"><i class="fa-regular fa-user"></i></a>
                    <ul class="ul-drop-menu">
                        <li class="drop-menu hello-user">Xin chào, User!</li>
                        <li class="drop-menu hv-gray"><a href="#"></a>Thông tin tài khoản</li>
                        <li class="drop-menu hv-gray"><a href="#"></a>Đăng xuất</li>
                    </ul>
                </li>
                <li class="hv-li"><a class="nav-link yellow" href="cart.html"><i class="fa-light fa-cart-shopping"></i></a></li>
            </ul>
        </div>
    </div>

</nav>
<!-- End Header/Navigation -->

<!-- Start Hero Section -->
<div class="hero home position-relative-top-84px">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12">
                <div class="intro-excerpt">
                    <h1>Cập nhật thông tin người dùng</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- Start update username -->
<div class="update-info position-relative-top-84px">
    <div class="container">
        <div class="contain-form p-4">
            <div class="dp-flex flex-column justify-content-center">
                <div class="update-info-title">
                    <h3>Cập nhật thông tin</h3>
                </div>
                <form action="#" method="post" id="updateInfoForm">

<!--                    Cập nhật username-->

                    <div class="username">
                        <label for="oldUsername">Tên tài khoản cũ</label>
                        <input type="text" name="oldUsername" id="oldUsername" oninput="updateInfo()" disabled>
                    </div>
                    <div id="oldUsername-error"></div>

                    <div class="username">
                        <label for="newUsername">Cập nhật tên tài khoản </label>
                        <input type="text" name="newUsername" id="newUsername" oninput="updateInfo()">
                    </div>
                    <div id="newun-error"></div>

<!--                    Cập nhật firstname-->

                    <div class="firsttname">
                        <label for="oldFirsttname">Họ cũ</label>
                        <input type="text" name="oldFirsttname" id="oldFirsttname" oninput="updateInfo()" disabled>
                    </div>
                    <div id="oldFirsttname-error"></div>

                    <div class="firsttname">
                        <label for="newFirsttname">Cập nhật họ  </label>
                        <input type="text" name="newFirsttname" id="newFirsttname" oninput="updateInfo()">
                    </div>
                    <div id="newfn-error"></div>

<!--                    cập nhật lastname-->

                    <div class="lastname">
                        <label for="oldLastname">Tên cũ</label>
                        <input type="text" name="oldLastname" id="oldLastname" oninput="updateInfo()" disabled>
                    </div>
                    <div id="oldLastname-error"></div>

                    <div class="lastname">
                        <label for="newLastname">Cập nhật tên </label>
                        <input type="text" name="newLastname" id="newLastname" oninput="updateInfo()">
                    </div>
                    <div id="newln-error"></div>


                    <!--  cập nhật email-->

                    <div class="emaill">
                        <label for="oldEmaill">Email cũ</label>
                        <input type="email" name="oldEmaill" id="oldEmaill" oninput="updateInfo()" disabled>
                    </div>
                    <div id="oldEmaill-error"></div>

                    <div class="emaill">
                        <label for="newEmaill">Cập nhật email </label>
                        <input type="email" name="newEmaill" id="newEmaill" oninput="updateInfo()">
                    </div>
                    <div id="newemaill-error"></div>


<!--                    Cập nhật AddressLine-->
                    <div class="addressLine">
                        <label for="oldAddressLine">Tên đường cũ</label>
                        <input type="text" name="oldAddressLine" id="oldAddressLine" oninput="updateInfo()" disabled>
                    </div>
                    <div id="oldAddressLine-error"></div>

                    <div class="addressLine">
                        <label for="newAddressLine">Cập nhật tên đường </label>
                        <input type="text" name="newAddressLine" id="newAddressLine" oninput="updateInfo()">
                    </div>
                    <div id="newaddressLine-error"></div>


                    <!--                    Cập nhật AddressWard-->
                    <div class="addressWard">
                        <label for="oldAddressWard">Tên phường cũ</label>
                        <input type="text" name="oldAddressWard" id="oldAddressWard" oninput="updateInfo()" disabled>
                    </div>
                    <div id="oldaddressWard-error"></div>

                    <div class="addressWard">
                        <label for="newAddressWard">Cập nhật tên phường </label>
                        <input type="text" name="newAddressWard" id="newAddressWard" oninput="updateInfo()">
                    </div>
                    <div id="newaddressWard-error"></div>


                    <!--                    Cập nhật AddressDistrict-->
                    <div class="addressDistrict">
                        <label for="oldAddressDistrict">Tên quận cũ</label>
                        <input type="text" name="oldAddressDistrict" id="oldAddressDistrict" oninput="updateInfo()" disabled>
                    </div>
                    <div id="oldaddressDistrict-error"></div>

                    <div class="addressDistrict">
                        <label for="newAddressDistrict">Cập nhật tên quận/huyện </label>
                        <input type="text" name="newAddressDistrict" id="newAddressDistrict" oninput="updateInfo()">
                    </div>
                    <div id="newaddressDistrict-error"></div>


                    <!--                    Cập nhật AddressDistrict-->
                    <div class="addressProvince">
                        <label for="oldAddressProvince">Tên tỉnh cũ</label>
                        <input type="text" name="oldAddressProvince" id="oldAddressProvince" oninput="updateInfo()" disabled>
                    </div>
                    <div id="oldaddressProvince-error"></div>

                    <div class="addressProvince">
                        <label for="newAddressProvince">Cập nhật tên tỉnh </label>
                        <input type="text" name="newAddressProvince" id="newAddressProvince" oninput="updateInfo()">
                    </div>
                    <div id="newaddressProvince-error"></div>
                </form>
                <!-- Tạm thời làm bằng thẻ a, khi code backend vào sẽ dùng thẻ input submit -->
                <!-- Khi dùng input thì sẽ đưa nút bằng thẻ a vào trong form và xóa margin-top -->
                <!--<input type="submit" value="Làm mới mật khẩu" class="passwd-button">-->
                <div class="dp-flex justify-content-between renew-button-group">
                    <a href="success-renew.html" class="infom-button a-btn">Cập nhật tài khoản</a>
                    <a href="index.html" class="infom-button a-btn">Quay lại trang chủ</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Renew Password -->

<!-- Start Footer Section -->
<footer class="footer-section position-relative-top-84px">
    <div class="container relative">
        <div class="row g-5 mb-5">
            <div class="col-4">
                <div class="mb-4"><p href="#" class="footer-head">DDD<span>.</span></p></div>
                <p class="mb-4 light-text footer-content">Với chúng tôi, mỗi một sản phẩm mỹ nghệ đều là một kiệt tác, là một tác phẩm nghệ thuật. Cảm ơn bạn đã ghé thăm DDD. - Nghệ thuật mỹ nghệ. Mua sắm với chúng tôi trong mục sản phẩm, hoặc bấm vào nút Khám phá trên trang chủ.</p>
            </div>

            <div class="col-4 center-text">
                <div class="mb-4"><p id="mxh-changing" class="footer-head">Mạng xã hội</p></div>
                <p class="mb-4 light-text footer-content">Đừng quên theo dõi chúng tôi qua các kênh mạng xã hội sau để không bỏ lỡ nhưng thông tin mới nhất của DDD. - Nghệ thuật mỹ nghệ</p>
                <ul class="list-unstyled custom-social">
                    <li><a href="#"><span class="fa fa-brands fa-facebook-f footer-content"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-twitter footer-content"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-instagram footer-content"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-linkedin footer-content"></span></a></li>
                </ul>
            </div>

            <div class="col-4">
                <div class="row links-wrap">
                    <div class="right-text">
                        <div class="mb-4"><p class="footer-head">Nội dung</p></div>
                        <ul class="list-unstyled ">
                            <li><a class="light-text footer-content" href="#">Sản phẩm</a></li>
                            <li><a class="light-text footer-content" href="#">Tin tức</a></li>
                            <li><a class="light-text footer-content" href="#">Liên hệ</a></li>
                            <li><a class="light-text footer-content" href="#">Về chúng tôi</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-top copyright">
            <div class="row pt-4">
                <div class="col-lg-6">
                    <p class="mb-2 text-center text-lg-start light-text footer-content">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved.</p>
                    <!-- License information: https://untree.co/license/ -->
                </div>

                <div class="col-lg-6 text-center text-lg-end light-text">
                    <ul class="list-unstyled d-inline-flex ms-auto">
                        <li class="me-4 footer-content"><a  href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#" class="footer-content">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</footer>
<!-- End Footer Section -->

<button id="scroll-to-top"><i class="fa-solid fa-chevron-up" style="color: #e3bd74;"></i></button>

<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/tiny-slider.js"></script>
<script src="js/reset-password.js"></script>
<script src="js/custom.js"></script>
</body>

</html>